html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100vw;
  height: 100vh;
  
  overflow-x: hidden;
}

* { 
  box-sizing: border-box;
  font-size: calc(40% + 0.6vmin);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg {
  background: linear-gradient(63.52deg, #61F4DE 3.85%, #63DFE4 28.69%, #68B6EF 50.71%, #6C8DFA 72.74%, #6E78FF 93.83%);
}

.text-shadow-light {
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}
.elem-shadow-light {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}
